[submodule "themes/hexo-theme-sakura"]
	path = themes/hexo-theme-sakura
	url = https://github.com/kuronekonano/hexo-theme-sakura
[submodule "themes/hexo-theme-matery"]
	path = themes/hexo-theme-matery
	url = https://github.com/kuronekonano/hexo-theme-matery
